# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# Visual Studio cache/options
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build artifacts
*.dll
*.pdb
*.exe
*.cache
*.zip

# NuGet Packages
*.nupkg
.nuget/
packages/

# VS Code
.vscode/

# JetBrains Rider
.idea/
*.sln.iml
